body {
    background:#ffffff;
    background-repeat: repeat-y;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    line-height:21px;
}
a{text-decoration:none; color:#333333;}
a:hover{text-decoration:none; color:#1e65be;transition: color 0.3s;-moz-transition: color 0.3s;	-webkit-transition: color 0.3s;-o-transition: color 0.3s; }


.lan-en { font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#333;}
.news-title{ font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#333;}
.tel1{ font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#009fe1; line-height:30px; letter-spacing:4px;}

.top-font{ font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:37px;}
.tel{ font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:21px;}

.end-font{ font-family: "微软雅黑"; font-size:15px; color:#fefefe;line-height:35px; font-weight:bold;text-transform:uppercase; letter-spacing:1px;}
.end-font1{ font-family: "微软雅黑"; font-size:12px; color:#bbb;line-height:25px; }
.end-font2{ font-family: "微软雅黑"; font-size:12px; color:#666;line-height:25px;}

.about-font{ font-family: "微软雅黑"; font-size:13px; color:#333; line-height:24px;}
.about-font-en{ font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#333; line-height:24px;}
.about-font1{ font-family: "微软雅黑"; font-size:12px; color:#ffffff; line-height:21px;}

.title{ font-family: "微软雅黑"; font-size:25px; color:#004cab; font-weight:bold;}
.title1{ font-family:"微软雅黑"; font-size:16px; color:#ffffff; line-height:25px}
.title2{ font-family:"微软雅黑"; font-size:25px; color:#FFF; line-height:60px; }
.title3{ font-family:"微软雅黑"; font-size:30px; color:#004cab; font-weight:bold; line-height:55px; letter-spacing:2px;}
.title4{ font-family:"微软雅黑"; font-size:18px; color:#ffffff;}
.title5{ font-family:"微软雅黑"; font-size:18px; color:#ffffff; line-height:28px; }
.title6{ font-family:"微软雅黑"; font-size:15px; color:#ffffff; line-height:28px; }

.file{ font-family:"微软雅黑"; font-size:13px; color:#333; line-height:25px;}
.now{ font-family:"微软雅黑"; font-size:18px; color:#0059ab; line-height:25px;text-transform:uppercase; font-weight:bold;}

.news-title{ font-family:"微软雅黑"; font-size:15px; color:#333333; font-weight:bold}
.news-font{ "微软雅黑"; font-size:12px; color:#666666; line-height:21px;}
.more{ font-family: "微软雅黑"; font-size:12px; color:#298dd2; line-height:30px;}

.time-date{ font-family:Arial, Helvetica, sans-serif; font-size:23px; color:#666666; font-style:italic;letter-spacing:1px;}
.time-year{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#666666; line-height:25px;}

.left-con{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#555555; line-height:26px;}
.time-en{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#ff7e00; line-height:21px;}

.contact{ font-family:"微软雅黑"; font-size:12px; color:#999; line-height:26px;}
.contact-Content{ font-family: "微软雅黑"; font-size:14px; color:#333; line-height:35px;}
.contact-title{ font-family: "微软雅黑"; font-size:18px; color:#004cab;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #fff;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
}

.gototop{position:fixed; right:7px; bottom:10px; display:block; font-size:18px; width:30px; height:30px; background:#1e65be; color:#fff; text-align:center; padding-top:5px;
    -webkit-transition:all 1s; -moz-transition:all 1s; -ms-transition:all 1s; -o-transition:all 1s; transition:all 1s; display:none;}
a:hover.gototop{text-decoration:none; background:#3b73b8; color:#fff;}


#more{ width:100%; height:36px;  text-align:center}
#more a { display:block; font-size:13px; line-height:36px; font-family: Arial, Helvetica, sans-serif; color:#fff; background:#49aceb;
    -webkit-transition:background  .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition:background .3s ease-in-out;
    -ms-transition:background .3s ease-in-out;
    transition: background .3s ease-in-out;}
#more a:hover{ background:#279ce6; color:#ffffff; text-decoration:none; }

#more2{ width:100px; height:30px;  text-align:center; background:#0099e0}
#more2 a { display:block; font-size:12px; line-height:30px; font-family: Arial, Helvetica, sans-serif; color:#fff;
    -webkit-transition:background  .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition:background .3s ease-in-out;
    -ms-transition:background .3s ease-in-out;
    transition: background .3s ease-in-out;}
#more2 a:hover{ background:#0053a5; color:#ffffff; text-decoration:none; height:30px;line-height:30px; }


/* 图片悬浮放大效果 */
.fangda{ width: auto; height:auto; overflow:hidden;}
.fangda li{ overflow:hidden; float:left; list-style:none; cursor:pointer}
.fangda li:hover{}
.fangda li img{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all 2s ease;-moz-transition:all 2s ease;-o-transition:all 2s ease;transition:all 2s ease;}
.fangda li:hover img{-webkit-transform:scale(1.15);-moz-transform:scale(1.15);-o-transform:scale(1.15);transform:scale(1.15);-webkit-transition:all 2s ease;-moz-transition:all 2s ease;-o-transition:all 2s ease;transition:all 2s ease;}




.pro-menu{width:755px; }
.pro-menu ul { list-style: none; margin: 0px; padding: 0px; }
.pro-menu ul li{ float:left;width:150px; margin-left:1px;}
.pro-menu  ul li a { display:block; height:48px; line-height:48px; text-align:center; font-family: Arial, Helvetica, sans-serif;font-size:14px; color:#ffffff; background-color:#888888; text-decoration:none;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);
    -webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.pro-menu  ul li a:hover {  background:#0094dc;color:#fff; }
.pro-menu  ul li a#active { background:#0094dc; color:#fff;}

.pro-menu1{width:755px; }
.pro-menu1 ul { list-style: none; margin: 0px; padding: 0px; }
.pro-menu1 ul li{ float:left;width:150px; margin-left:1px;}
.pro-menu1  ul li a { display:block; height:60px; line-height:60px; text-align:center; font-family: Arial, Helvetica, sans-serif;font-size:14px; color:#333333;  text-decoration:none;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);
    -webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.pro-menu1  ul li a:hover {  background:#0094dc;color:#fff; }
.pro-menu1  ul li a#active { background:#0094dc; color:#fff;}


.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    padding: 5px 10px;
    display: inline-block;
    outline: none;
    position: relative;
    margin-top:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius:0px !important;
    text-decoration: none;
    font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight:bold;
    border: 2px solid #373737;
    color:#373737;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* Button 1c */
.btn-1c:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #49aceb;

}
.btn-1c:hover,
.btn-1c:active {
    color: #fff;
    border: 2px solid #49aceb;
}
.btn-1c:hover:after,
.btn-1c:active:after {
    width: 100%;
}



#pro-fenlei {  width:1100px;float:left;}
#pro-fenlei ul{ list-style:none;}
#pro-fenlei ul li { display:block; height:40px;width:192px; color:#fff;  text-align:center; float:left; padding:20px 0px 0px 10px;}
#pro-fenlei ul li a{ display:block; width:192px; font-family: "微软雅黑"; color:#fff; line-height:40px; font-size:13px; text-align:center; background:#1e65be;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;}
#pro-fenlei ul li a:hover{color:#fff; background:#46ad00 }
#pro-fenlei ul li a#active{color:#fff;  background:#46ad00}

DIV.black {
    PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 80%; PADDING-BOTTOM: 10px; MARGIN: 3px; COLOR: #a0a0a0; PADDING-TOP: 10px;TEXT-ALIGN: center
}
DIV.black A {
    BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #909090 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(bar.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #909090 1px solid; COLOR: #c0c0c0; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #909090 1px solid; TEXT-DECORATION: none
}
DIV.black A:hover {
    BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; BACKGROUND-IMAGE: url(invbar.gif); BORDER-LEFT: #f0f0f0 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #404040
}
DIV.black A:active {
    BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; BACKGROUND-IMAGE: url(invbar.gif); BORDER-LEFT: #f0f0f0 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #404040
}
DIV.black SPAN.current {
    BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #606060
}
DIV.black SPAN.disabled {
    BORDER-RIGHT: #606060 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #606060 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #606060 1px solid; COLOR: #808080; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #606060 1px solid
}