/* Border styles */
#table-1 thead, #table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(81, 130, 187);
}
#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 238, 214);
}

/* Padding and font style */
#table-1 td, #table-1 th {
    padding: 5px 10px;
    font-size: 25px;
    font-family: Verdana;
    color: rgb(149, 170, 109);
}

/* Alternating background colors */
#table-1 tr:nth-child(even) {
    background: rgb(230, 238, 214)
}
#table-1 tr:nth-child(odd) {
    background: #FFF
}
